Names, base price and profile websites of players sold and unsold in IPL 2022 auction from the website: (Retained players are not included)
https://www.espncricinfo.com/story/2023-ipl-auction-list-of-sold-unsold-players-1350272

Names, auction price and profile websites of players sold in IPL 2022 auction (Retained players are included) from the website:
'https://www.espncricinfo.com/auction/content/site/ipl2022

In [4]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

C:\Users\Kalyani Gohokar\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.15) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

Getting the column names for the dataset

In [53]:
website = 'https://www.espncricinfo.com/cricketers/rohit-sharma-34102'

result = requests.get(website)
content = result.text
soup = BeautifulSoup(content, 'lxml')

#print(soup.prettify())

In [54]:
head = soup.find_all(class_='ds-bg-fill-content-alternate ds-text-left ds-text-right')

In [55]:
head_ls = []

for i in head:
    head_ls.append(i.get_text(strip=True, separator=' '))

In [56]:
head_ls

['Format Mat Inns NO Runs HS Ave BF SR 100s 50s 4s 6s Ct St',
 'Format Mat Inns Balls Runs Wkts BBI BBM Ave Econ SR 4w 5w 10w']

In [57]:
#Get columns
columns = ['Player'] + head_ls[0].split() + head_ls[1].split()

In [58]:
columns.remove('Format')

In [59]:
columns.remove('Format')

In [60]:
columns.insert(1, 'Role')

In [61]:
columns

['Player',
 'Role',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Ave',
 'BF',
 'SR',
 '100s',
 '50s',
 '4s',
 '6s',
 'Ct',
 'St',
 'Mat',
 'Inns',
 'Balls',
 'Runs',
 'Wkts',
 'BBI',
 'BBM',
 'Ave',
 'Econ',
 'SR',
 '4w',
 '5w',
 '10w']

In [14]:
df = pd.DataFrame(columns = columns)

The player statistics for each player are on different websites. So we first find the links for the players.

In [15]:
#Website 1 (using the package beautiful scoop)
website = 'https://www.espncricinfo.com/story/ipl-2022-auction-the-list-of-sold-and-unsold-players-1300689'

result = requests.get(website)
content = result.text
soup = BeautifulSoup(content, 'lxml')

In [16]:
box = soup.find('article', class_ ="ds-mb-4 ds-text-typo ci-story")
#box.find_all('a', href=True)

In [17]:
links = [link['href'] for link in box.find_all('a', href=True)]
print(links)

['/genre/news-1', '/author/himanshu-agrawal-758', 'https://www.espncricinfo.com/auction/content/site/ipl2022', 'https://www.espncricinfo.com/live-blog/live-blog-ipl-2022-auction-1300707', 'https://www.espncricinfo.com/player/aman-khan-1119011', 'https://www.espncricinfo.com/player/david-willey-308251', 'https://www.espncricinfo.com/player/fabian-allen-670013', 'https://www.espncricinfo.com/player/luvnith-sisodia-1155253', 'https://www.espncricinfo.com/player/aryan-juyal-1130300', 'https://www.espncricinfo.com/player/sai-sudharsan-1151288', 'https://www.espncricinfo.com/player/siddarth-kaul-326017', 'https://www.espncricinfo.com/player/daryl-mitchell-381743', 'https://www.espncricinfo.com/player/rassie-van-der-dussen-337790', 'https://www.espncricinfo.com/player/vicky-ostwal-1292520', 'https://www.espncricinfo.com/player/nathan-coulter-nile-261354', 'https://www.espncricinfo.com/player/james-neesham-355269', 'https://www.espncricinfo.com/player/umesh-yadav-376116', 'https://www.espncricinfo.com/player/mohammad-nabi-25913', 'https://www.espncricinfo.com/player/shubham-garhwal-1287019', 'https://www.espncricinfo.com/player/arjun-tendulkar-1148776', 'https://www.espncricinfo.com/player/bhagath-varma-1252050', 'https://www.espncricinfo.com/player/hrithik-shokeen-1175423', 'https://www.espncricinfo.com/player/ramesh-kumar-1299848', 'https://www.espncricinfo.com/player/varun-aaron-360911', 'https://www.espncricinfo.com/player/kuldip-yadav-1206495', 'https://www.espncricinfo.com/player/benny-howell-211748', 'https://www.espncricinfo.com/player/rahul-buddhi-1212693', 'https://www.espncricinfo.com/player/tim-southee-232364', 'https://www.espncricinfo.com/player/gurkeerat-singh-mann-537124', 'https://www.espncricinfo.com/player/bhanuka-rajapaksa-342619', 'https://www.espncricinfo.com/player/tejas-baroka-1082859', 'https://www.espncricinfo.com/player/mayank-yadav-1292563', 'https://www.espncricinfo.com/player/dhruv-jurel-1175488', 'https://www.espncricinfo.com/player/atharva-taide-1125958', 'https://www.espncricinfo.com/player/ramandeep-singh-1079470', 'https://www.espncricinfo.com/player/fazalhaq-farooqi-974175', 'https://www.espncricinfo.com/player/nathan-ellis-826915', 'https://www.espncricinfo.com/player/tim-seifert-625964', 'https://www.espncricinfo.com/player/glenn-phillips-823509', 'https://www.espncricinfo.com/player/karun-nair-398439', 'https://www.espncricinfo.com/player/evin-lewis-431901', 'https://www.espncricinfo.com/player/alex-hales-249866', 'https://www.espncricinfo.com/player/kuldeep-sen-1163695', 'https://www.espncricinfo.com/player/karn-sharma-30288', 'https://www.espncricinfo.com/player/lungi-ngidi-542023', 'https://www.espncricinfo.com/player/chris-jordan-288992', 'https://www.espncricinfo.com/player/vishnu-vinod-732293', 'https://www.espncricinfo.com/player/narayan-jagadeesan-1048813', 'https://www.espncricinfo.com/player/anmolpreet-singh-851261', 'https://www.espncricinfo.com/player/hari-nishaanth-1048847', 'https://www.espncricinfo.com/player/matthew-wade-230193', 'https://www.espncricinfo.com/player/wriddhiman-saha-279810', 'https://www.espncricinfo.com/player/sam-billings-297628', 'https://www.espncricinfo.com/player/david-miller-321777', 'https://www.espncricinfo.com/player/anunay-singh-1159816', 'https://www.espncricinfo.com/player/ashok-sharma-1299879', 'https://www.espncricinfo.com/player/ansh-patel-1216149', 'https://www.espncricinfo.com/player/arshad-khan-1244751', 'https://www.espncricinfo.com/player/saurabh-dubey-1206492', 'https://www.espncricinfo.com/player/baltej-singh-527292', 'https://www.espncricinfo.com/player/karan-sharma-1246518', 'https://www.espncricinfo.com/player/kyle-mayers-348056', 'https://www.espncricinfo.com/player/shashank-singh-377534', 'https://www.espncricinfo.com/player/pratham-singh-1083464', 'https://www.espncricinfo.com/player/writtick-chatterjee-699493', 'https://www.espncricinfo.com/player/pradeep-sangwan-279545', 'https://www.espncricinfo.com/player/abhijeet-tomar-1081183', 'https://www.espncricinfo.com/player/ravikumar-samarth-474512', 'https://www.espncricinfo.com/player/chamika-karunaratne-623695', 'https://www.espncricinfo.com/player/baba-indrajith-477069', 'https://www.espncricinfo.com/player/aneeshwar-gautam-1292513', 'https://www.espncricinfo.com/player/ayush-badoni-1151270', 'https://www.espncricinfo.com/player/riley-meredith-961713', 'https://www.espncricinfo.com/player/alzarri-joseph-670031', 'https://www.espncricinfo.com/player/sean-abbott-398666', 'https://www.espncricinfo.com/player/prashant-solanki-1252337', 'https://www.espncricinfo.com/player/chama-milind-604616', 'https://www.espncricinfo.com/player/mohsin-khan-1132005', 'https://www.espncricinfo.com/player/rasikh-salam-1161489', 'https://www.espncricinfo.com/player/mukesh-choudhary-1125688', 'https://www.espncricinfo.com/player/vaibhav-arora-1209292', 'https://www.espncricinfo.com/player/suyash-prabhudessai-1083851', 'https://www.espncricinfo.com/player/prerak-mankad-956871', 'https://www.espncricinfo.com/player/praveen-dubey-777515', 'https://www.espncricinfo.com/player/tim-david-892749', 'https://www.espncricinfo.com/player/subhranshu-senapati-1059577', 'https://www.espncricinfo.com/player/adam-milne-450860', 'https://www.espncricinfo.com/player/tymal-mills-459257', 'https://www.espncricinfo.com/player/obed-mccoy-906783', 'https://www.espncricinfo.com/player/jason-behrendorff-272477', 'https://www.espncricinfo.com/player/romario-shepherd-677077', 'https://www.espncricinfo.com/player/mitchell-santner-502714', 'https://www.espncricinfo.com/player/daniel-sams-826901', 'https://www.espncricinfo.com/player/sherfane-rutherford-914541', 'https://www.espncricinfo.com/player/dwaine-pretorius-327830', 'https://www.espncricinfo.com/player/rishi-dhawan-290727', 'https://www.espncricinfo.com/player/jofra-archer-669855', 'https://www.espncricinfo.com/player/rovman-powell-820351', 'https://www.espncricinfo.com/player/devon-conway-379140', 'https://www.espncricinfo.com/player/finn-allen-959759', 'https://www.espncricinfo.com/player/simarjeet-singh-1159722', 'https://www.espncricinfo.com/player/yash-dayal-1159720', 'https://www.espncricinfo.com/player/rajvardhan-hangargekar-1175429', 'https://www.espncricinfo.com/player/raj-bawa-1292502', 'https://www.espncricinfo.com/player/sanjay-yadav-1048841', 'https://www.espncricinfo.com/player/darshan-nalkande-1111917', 'https://www.espncricinfo.com/player/anukul-roy-1079839', 'https://www.espncricinfo.com/player/mahipal-lomror-853265', 'https://www.espncricinfo.com/player/tilak-varma-1170265', 'https://www.espncricinfo.com/player/yash-dhull-1292498', 'https://www.espncricinfo.com/player/ripal-patel-1201520', 'https://www.espncricinfo.com/player/lalit-yadav-930189', 'https://www.espncricinfo.com/player/manan-vohra-532856', 'https://www.espncricinfo.com/player/rinku-singh-723105', 'https://www.espncricinfo.com/player/maheesh-theekshana-1138316', 'https://www.espncricinfo.com/player/shahbaz-nadeem-31872', 'https://www.espncricinfo.com/player/mayank-markande-1081442', 'https://www.espncricinfo.com/player/jaydev-unadkat-390484', 'https://www.espncricinfo.com/player/navdeep-saini-700167', 'https://www.espncricinfo.com/player/sandeep-sharma-438362', 'https://www.espncricinfo.com/player/chetan-sakariya-1131754', 'https://www.espncricinfo.com/player/dushmantha-chameera-552152', 'https://www.espncricinfo.com/player/khaleel-ahmed-942645', 'https://www.espncricinfo.com/player/krishnappa-gowtham-424377', 'https://www.espncricinfo.com/player/shivam-dube-714451', 'https://www.espncricinfo.com/player/marco-jansen-696401', 'https://www.espncricinfo.com/player/odean-smith-820691', 'https://www.espncricinfo.com/player/vijay-shankar-477021', 'https://www.espncricinfo.com/player/jayant-yadav-447587', 'https://www.espncricinfo.com/player/dominic-drakes-906749', 'https://www.espncricinfo.com/player/liam-livingstone-403902', 'https://www.espncricinfo.com/player/mandeep-singh-398506', 'https://www.espncricinfo.com/player/ajinkya-rahane-277916', 'https://www.espncricinfo.com/player/aiden-markram-600498', 'https://www.espncricinfo.com/player/ravisrinivasan-sai-kishore-1048739', 'https://www.espncricinfo.com/player/jagadeesha-suchith-527663', 'https://www.espncricinfo.com/player/shreyas-gopal-344580', 'https://www.espncricinfo.com/player/kc-cariappa-777537', 'https://www.espncricinfo.com/player/murugan-ashwin-528067', 'https://www.espncricinfo.com/player/noor-ahmad-1182529', 'https://www.espncricinfo.com/player/ankit-rajpoot-591650', 'https://www.espncricinfo.com/player/tushar-deshpande-822553', 'https://www.espncricinfo.com/player/ishan-porel-967603', 'https://www.espncricinfo.com/player/avesh-khan-694211', 'https://www.espncricinfo.com/player/km-asif-1083030', 'https://www.espncricinfo.com/player/akash-deep-1176959', 'https://www.espncricinfo.com/player/kartik-tyagi-1122918', 'https://www.espncricinfo.com/player/basil-thampi-732291', 'https://www.espncricinfo.com/player/jitesh-sharma-721867', 'https://www.espncricinfo.com/player/sheldon-jackson-237696', 'https://www.espncricinfo.com/player/prabhsimran-singh-1161024', 'https://www.espncricinfo.com/player/anuj-rawat-1123073', 'https://www.espncricinfo.com/player/srikar-bharat-529436', 'https://www.espncricinfo.com/player/shahbaz-ahmed-1159711', 'https://www.espncricinfo.com/player/harpreet-brar-1168641', 'https://www.espncricinfo.com/player/kamlesh-nagarkoti-1070188', 'https://www.espncricinfo.com/player/rahul-tewatia-423838', 'https://www.espncricinfo.com/player/shivam-mavi-1079848', 'https://www.espncricinfo.com/player/shahrukh-khan-719719', 'https://www.espncricinfo.com/player/sarfaraz-khan-642525', 'https://www.espncricinfo.com/player/abhishek-sharma-1070183', 'https://www.espncricinfo.com/player/riyan-parag-1079434', 'https://www.espncricinfo.com/player/rahul-tripathi-446763', 'https://www.espncricinfo.com/player/ashwin-hebbar-801019', 'https://www.espncricinfo.com/player/dewald-brevis-1070665', 'https://www.espncricinfo.com/player/abhinav-manohar-778963', 'https://www.espncricinfo.com/player/priyam-garg-1070180', 'https://www.espncricinfo.com/player/yuzvendra-chahal-430246', 'https://www.espncricinfo.com/player/rahul-chahar-1064812', 'https://www.espncricinfo.com/player/kuldeep-yadav-559235', 'https://www.espncricinfo.com/player/mustafizur-rahman-330902', 'https://www.espncricinfo.com/player/shardul-thakur-475281', 'https://www.espncricinfo.com/player/bhuvneshwar-kumar-326016', 'https://www.espncricinfo.com/player/mark-wood-351588', 'https://www.espncricinfo.com/player/josh-hazlewood-288284', 'https://www.espncricinfo.com/player/lockie-ferguson-493773', 'https://www.espncricinfo.com/player/prasidh-krishna-917159', 'https://www.espncricinfo.com/player/deepak-chahar-447261', 'https://www.espncricinfo.com/player/t-natarajan-802575', 'https://www.espncricinfo.com/player/nicholas-pooran-604302', 'https://www.espncricinfo.com/player/dinesh-karthik-30045', 'https://www.espncricinfo.com/player/jonny-bairstow-297433', 'https://www.espncricinfo.com/player/ishan-kishan-720471', 'https://www.espncricinfo.com/player/ambati-rayudu-33141', 'https://www.espncricinfo.com/player/mitchell-marsh-272450', 'https://www.espncricinfo.com/player/krunal-pandya-471342', 'https://www.espncricinfo.com/player/washington-sundar-719715', 'https://www.espncricinfo.com/player/wanindu-hasaranga-de-silva-784379', 'https://www.espncricinfo.com/player/deepak-hooda-497121', 'https://www.espncricinfo.com/player/harshal-patel-390481', 'https://www.espncricinfo.com/player/jason-holder-391485', 'https://www.espncricinfo.com/player/nitish-rana-604527', 'https://www.espncricinfo.com/player/dwayne-bravo-51439', 'https://www.espncricinfo.com/player/devdutt-padikkal-1119026', 'https://www.espncricinfo.com/player/jason-roy-298438', 'https://www.espncricinfo.com/player/robin-uthappa-35582', 'https://www.espncricinfo.com/player/shimron-hetmyer-670025', 'https://www.espncricinfo.com/player/manish-pandey-290630', 'https://www.espncricinfo.com/player/david-warner-219889', 'https://www.espncricinfo.com/player/quinton-de-kock-379143', 'https://www.espncricinfo.com/player/faf-du-plessis-44828', 'https://www.espncricinfo.com/player/mohammed-shami-481896', 'https://www.espncricinfo.com/player/shreyas-iyer-642519', 'https://www.espncricinfo.com/player/trent-boult-277912', 'https://www.espncricinfo.com/player/kagiso-rabada-550215', 'https://www.espncricinfo.com/player/pat-cummins-489889', 'https://www.espncricinfo.com/player/ravichandran-ashwin-26421', 'https://www.espncricinfo.com/player/shikhar-dhawan-28235', 'https://www.espncricinfo.com/player/akash-madhwal-1206039', 'https://www.espncricinfo.com/player/kulwant-khejroliya-1083033', 'https://www.espncricinfo.com/player/rohan-kadam-777739', 'https://www.espncricinfo.com/player/khizer-dafedar-1083110', 'https://www.espncricinfo.com/player/rohan-rana-1300768', 'https://www.espncricinfo.com/player/duan-jansen-595954', 'https://www.espncricinfo.com/player/rakshann-readdi-1246438', 'https://www.espncricinfo.com/player/bharat-sharma-1246449', 'https://www.espncricinfo.com/player/pratyush-singh-717205', 'https://www.espncricinfo.com/player/shubham-sharma-680045', 'https://www.espncricinfo.com/player/gerald-coetzee-596010', 'https://www.espncricinfo.com/player/shivank-vashisht-1164186', 'https://www.espncricinfo.com/player/colin-munro-232359', 'https://www.espncricinfo.com/player/matheesha-pathirana-1194795', 'https://www.espncricinfo.com/player/utkarsh-singh-1081437', 'https://www.espncricinfo.com/player/scott-kuggeleijn-539548', 'https://www.espncricinfo.com/player/moises-henriques-5961', 'https://www.espncricinfo.com/player/akeal-hosein-530812', 'https://www.espncricinfo.com/player/ashutosh-sharma-1131978', 'https://www.espncricinfo.com/player/lalit-yadav-1060363', 'https://www.espncricinfo.com/player/amit-ali-1252346', 'https://www.espncricinfo.com/player/ninad-rathva-1126213', 'https://www.espncricinfo.com/player/kaushal-tambe-1292512', 'https://www.espncricinfo.com/player/mukesh-kumar-926851', 'https://www.espncricinfo.com/player/blessing-muzarabani-827051', 'https://www.espncricinfo.com/player/sushant-mishra-1175457', 'https://www.espncricinfo.com/player/br-sharath-917231', 'https://www.espncricinfo.com/player/kennar-lewis-537319', 'https://www.espncricinfo.com/player/shams-mulani-1131607', 'https://www.espncricinfo.com/player/dhruv-patel-1126179', 'https://www.espncricinfo.com/player/david-wiese-221140', 'https://www.espncricinfo.com/player/atit-sheth-652361', 'https://www.espncricinfo.com/player/saurabh-kumar-627214', 'https://www.espncricinfo.com/player/hayden-kerr-1163855', 'https://www.espncricinfo.com/player/kane-richardson-272262', 'https://www.espncricinfo.com/player/dhawal-kulkarni-277955', 'https://www.espncricinfo.com/player/pawan-negi-530773', 'https://www.espncricinfo.com/player/roston-chase-391832', 'https://www.espncricinfo.com/player/ben-cutting-230371', 'https://www.espncricinfo.com/player/martin-guptill-226492', 'https://www.espncricinfo.com/player/sudhesan-midhun-1131619', 'https://www.espncricinfo.com/player/pankaj-jaswal-652359', 'https://www.espncricinfo.com/player/ben-dwarshuis-679567', 'https://www.espncricinfo.com/player/prashant-chopra-500135', 'https://www.espncricinfo.com/player/atharva-ankolekar-1175467', 'https://www.espncricinfo.com/player/apoorv-wankhade-505773', 'https://www.espncricinfo.com/player/sameer-rizvi-1175489', 'https://www.espncricinfo.com/player/tom-kohler-cadmore-470633', 'https://www.espncricinfo.com/player/tanmay-agarwal-792725', 'https://www.espncricinfo.com/player/sandeep-warrier-592735', 'https://www.espncricinfo.com/player/reece-topley-461632', 'https://www.espncricinfo.com/player/andrew-tye-459508', 'https://www.espncricinfo.com/player/ben-mcdermott-603410', 'https://www.espncricinfo.com/player/rahmanullah-gurbaz-974087', 'https://www.espncricinfo.com/player/george-garton-643433', 'https://www.espncricinfo.com/player/charith-asalanka-784367', 'https://www.espncricinfo.com/player/akash-singh-1175458', 'https://www.espncricinfo.com/player/mujtaba-yousuf-1175484', 'https://www.espncricinfo.com/player/arzan-nagwaswalla-1136213', 'https://www.espncricinfo.com/player/vasu-vats-1292515', 'https://www.espncricinfo.com/player/yash-thakur-1070196', 'https://www.espncricinfo.com/player/ricky-bhui-642531', 'https://www.espncricinfo.com/player/himanshu-rana-816599', 'https://www.espncricinfo.com/player/harnoor-singh-1292496', 'https://www.espncricinfo.com/player/sachin-baby-432783', 'https://www.espncricinfo.com/player/himmat-singh-805235', 'https://www.espncricinfo.com/player/virat-singh-720465', 'https://www.espncricinfo.com/player/piyush-chawla-32966', 'https://www.espncricinfo.com/player/ish-sodhi-559066', 'https://www.espncricinfo.com/player/qais-ahmad-914171', 'https://www.espncricinfo.com/player/tabraiz-shamsi-379145', 'https://www.espncricinfo.com/player/sheldon-cottrell-495551', 'https://www.espncricinfo.com/player/ishant-sharma-236779', 'https://www.espncricinfo.com/player/cheteshwar-pujara-32540', 'https://www.espncricinfo.com/player/aaron-finch-5334', 'https://www.espncricinfo.com/player/saurabh-tiwary-35390', 'https://www.espncricinfo.com/player/eoin-morgan-24598', 'https://www.espncricinfo.com/player/marnus-labuschagne-787987', 'https://www.espncricinfo.com/player/dawid-malan-236489', 'https://www.espncricinfo.com/player/sandeep-lamichhane-960361', 'https://www.espncricinfo.com/player/manimaran-siddharth-1151286', 'https://www.espncricinfo.com/player/vishnu-solanki-604593', 'https://www.espncricinfo.com/player/mohammed-azharuddeen-940733', 'https://www.espncricinfo.com/player/rajat-patidar-823703', 'https://www.espncricinfo.com/player/amit-mishra-31107', 'https://www.espncricinfo.com/player/adam-zampa-379504', 'https://www.espncricinfo.com/player/imran-tahir-40618', 'https://www.espncricinfo.com/player/mujeeb-ur-rahman-974109', 'https://www.espncricinfo.com/player/adil-rashid-244497', 'https://www.espncricinfo.com/player/shakib-al-hasan-56143', 'https://www.espncricinfo.com/player/steven-smith-267192', 'https://www.espncricinfo.com/player/suresh-raina-33335', 'https://www.espncricinfo.com/team/gujarat-titans-1298769', 'https://www.espncricinfo.com/team/lucknow-super-giants-1298768', 'https://www.espncricinfo.com/team/rajasthan-royals-335977', 'https://www.espncricinfo.com/team/india-6', 'https://www.espncricinfo.com/team/sunrisers-hyderabad-628333', 'https://www.espncricinfo.com/team/royal-challengers-bangalore-335970', 'https://www.espncricinfo.com/team/mumbai-indians-335978', 'https://www.espncricinfo.com/team/chennai-super-kings-335974', 'https://www.espncricinfo.com/team/kolkata-knight-riders-335971', 'https://www.espncricinfo.com/team/delhi-capitals-335975', 'https://www.espncricinfo.com/team/punjab-kings-335973', 'https://www.espncricinfo.com/series/indian-premier-league-2022-1298423']

In [18]:
linkss = links[4:-12]

Next, we loop over all the links to scrap the required T20 statistic for each player and add it to a dataframe

In [21]:
for link in linkss:
    result = requests.get(link)
    content = result.text
    soup = BeautifulSoup(content, 'lxml')

    head = soup.find_all(class_='ds-bg-fill-content-alternate ds-text-left ds-text-right')
    head_ls = [] #getting the column names
    for i in head:
        head_ls.append(i.get_text(strip=True, separator=' '))

    Format = soup.find_all(class_="ds-min-w-max ds-text-right ds-capitalize ds-font-bold !ds-text-left ds-whitespace-nowrap")
    Mat = soup.find_all(class_="ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right ds-capitalize ds-text-right")
    Runs_wk = soup.find_all(class_="ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right ds-capitalize ds-text-right ds-font-bold")

    T_role = soup.find_all(class_ ="ds-text-tight-m ds-font-regular ds-uppercase ds-text-typo-mid3")
    T_role_ls = []
    for i in T_role:
        T_role_ls.append(i.get_text(strip=True, separator=' '))
        
    if ('Playing Role' in T_role_ls):
        id = T_role_ls.index('Playing Role')

        role_ = soup.find_all('h5')
        role_ls = []
        for i in role_:
            role_ls.append(i.get_text(strip=True, separator=' '))
        role = role_ls[id]
    else:
        role = '-'
            
    name = link[link.rfind('/') + 1:link.rfind('-')]
    
    Format_ls = []

    for i in Format: #getting the format names a player has played
        Format_ls.append(i.get_text(strip=True, separator=' '))

    if 'T20' in Format_ls: #making sure the player has played T20
        n = Format_ls.index('T20')
        Runs_wk_ls = []
        for i in Runs_wk:
            Runs_wk_ls.append(i.get_text(strip=True, separator=' '))
        #print(link)

        Mat_ls = []
        for i in Mat:
            Mat_ls.append(i.get_text(strip=True, separator=' '))

        if (head_ls[0].split()[3] == 'NO'): #Tells if batting is first or bowling #This means batting first
            k = 13*n
            Bowl_t20 = Mat_ls[-12:]
            Bat_t20 = Mat_ls[k:k+13]

            runs = Runs_wk_ls[n]
            wk = Runs_wk_ls[-1] 
        else: 
            k = 12*n #multiply by 12 since in bowling has one column less
            Bat_t20 = Mat_ls[-13:] 
            Bowl_t20 = Mat_ls[k:k+12]

            wk = Runs_wk_ls[n]
            runs = Runs_wk_ls[-1] 

        Ro = [name] + Bat_t20 + Bowl_t20 
        Ro.insert(1, role)
        Ro.insert(5, runs)
        Ro.insert(-8, wk)

        df.loc[linkss.index(link)] = list(Ro)

    else:
        df.loc[linkss.index(link)] = [name, role] + [0]*27

In [22]:
df.head()

,Player,Role,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,Runs,Wkts,BBI,BBM,Ave,Econ,SR,4w,5w,10w
0,aman-khan,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,david-willey,Bowling Allrounder,244,180,39,3372,118,23.91,2449,137.68,...,5571,242,4/7,4/7,23.02,7.94,17.3,4,0,0
2,fabian-allen,Bowling Allrounder,92,72,21,935,64*,18.33,661,141.45,...,1726,64,3/24,3/24,26.96,7.68,21.0,0,0,0
3,luvnith-sisodia,Wicketkeeper Batter,15,9,0,124,38,13.77,97,127.83,...,-,-,-,-,-,-,-,-,-,-
4,aryan-juyal,Wicketkeeper Batter,14,12,4,285,71*,35.62,235,121.27,...,-,-,-,-,-,-,-,-,-,-

In [23]:
df['Role'].unique()

array(['Bowler', 'Bowling Allrounder', 'Wicketkeeper Batter',
       'Top order Batter', 'Allrounder', 'Batting Allrounder', 'Batter',
       'Middle order Batter', 'Opening Batter', '-'], dtype=object)

Getting player names and Base Price

In [24]:
#Website 1 (using the package beautiful scoop)
website = 'https://www.espncricinfo.com/story/ipl-2022-auction-the-list-of-sold-and-unsold-players-1300689'

result = requests.get(website)
content = result.text
soup = BeautifulSoup(content, 'lxml')

In [25]:
para = soup.find_all(class_="ds-text-comfortable-m ds-my-4 ci-html-content")

In [26]:
text = []

for i in para:
    text.append(i.text)

In [27]:
name_sal = text[text.index('Sold players')+1:]

In [28]:
name_sal.remove('Unsold players')

In [29]:
names = []
Base_price = []

for i in name_sal:
    names.append(i[0:i.rfind('(') -1])
    Base_price.append(i[i.rfind('(')+1: i.rfind(')')])

In [30]:
BasePrice = []

for i in Base_price:
    BasePrice.append(i[i.find('R')+2:])

In [31]:
df['Names'] = names
df['BasePrice'] = BasePrice

In [37]:
df.head()

,Player,Role,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,BBI,BBM,Ave,Econ,SR,4w,5w,10w,Names,BasePrice
0,aman-khan,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Aman Khan,20 lakh
1,david-willey,Bowling Allrounder,244,180,39,3372,118,23.91,2449,137.68,...,4/7,4/7,23.02,7.94,17.3,4,0,0,David Willey,2 crore
2,fabian-allen,Bowling Allrounder,92,72,21,935,64*,18.33,661,141.45,...,3/24,3/24,26.96,7.68,21.0,0,0,0,Fabian Allen,75 lakh
3,luvnith-sisodia,Wicketkeeper Batter,15,9,0,124,38,13.77,97,127.83,...,-,-,-,-,-,-,-,-,Luvnith Sisodia,20 lakh
4,aryan-juyal,Wicketkeeper Batter,14,12,4,285,71*,35.62,235,121.27,...,-,-,-,-,-,-,-,-,Aryan Juyal,20 lakh

In [40]:
df.columns

Index(['Player', 'Role', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100s', '50s', '4s', '6s', 'Ct', 'St', 'Mat', 'Inns', 'Balls', 'Runs',
       'Wkts', 'BBI', 'BBM', 'Ave', 'Econ', 'SR', '4w', '5w', '10w', 'Names',
       'BasePrice'],
      dtype='object')

In [43]:
df[df['Wkts'] == 0]

,Player,Role,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,BBI,BBM,Ave,Econ,SR,4w,5w,10w,Names,BasePrice
0,aman-khan,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Aman Khan,20 lakh
18,ramesh-kumar,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Ramesh Kumar,20 lakh
51,ashok-sharma,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Ashok Sharma,20 lakh
53,arshad-khan,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Mohammad Arshad Khan,20 lakh
54,saurabh-dubey,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Saurabh Dubey,20 lakh
66,aneeshwar-gautam,Bowling Allrounder,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Aneeshwar Gautam,20 lakh
208,rohan-rana,Allrounder,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Rohan Rana,20 lakh
229,sushant-mishra,-,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Sushant Mishra,20 lakh
263,vasu-vats,-,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Vasu Vats,20 lakh

In [33]:
df[df['Names'] == 'Matthew Wade']

,Player,Role,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,BBI,BBM,Ave,Econ,SR,4w,5w,10w,Names,BasePrice
46,matthew-wade,Wicketkeeper Batter,231,203,33,4559,130*,26.81,3360,135.68,...,-,-,-,-,-,-,-,-,Matthew Wade,2 crore

In [34]:
df.to_csv('BasePrice.csv')

Thus, we have a dataset with players sold and unsold in the 2022 ipl auction with their T20 statistics and Base price.

Since retained players are not included in the previous dataset, we scrape the player websites from another website.

In [62]:
from selenium import webdriver

url = 'https://www.espncricinfo.com/auction/content/site/ipl2022'

driver = webdriver.Chrome()
driver.get(url)
stages = driver.find_element_by_class_name('stage-scheduled')
driver.close()

AttributeError: 'WebDriver' object has no attribute 'find_element_by_class_name'

In [63]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [64]:
links = [link['href'] for link in soup.find_all('a', href=True)]
print(links)

['/', '/live-cricket-score', 'https://www.espncricinfo.com/live-cricket-score', 'https://www.espncricinfo.com/live-cricket-match-schedule-fixtures', 'https://www.espncricinfo.com/live-cricket-match-results', 'https://www.espncricinfo.com/ci/engine/series/index.html?view=month', 'https://www.espncricinfo.com/ci/engine/series/index.html?view=season', 'https://www.espncricinfo.com/ci/engine/match/index.html?view=calendar', 'https://www.espncricinfo.com/ci/engine/match/scores/desktop.html', 'https://www.espncricinfo.com/ci/content/match/fixtures_futures.html', '/series/women-s-premier-league-2023-1348825', '/series/australia-in-india-2022-23-1348637', '/series/west-indies-in-south-africa-2022-23-1339568', '/series/england-in-bangladesh-2022-23-1351394', '/series/sri-lanka-tour-of-new-zealand-2022-23-1322351', '/series/ireland-in-bangladesh-2022-23-1355710', '/series/afghanistan-v-pakistan-2022-23-1362810', '/series/netherlands-in-zimbabwe-2022-23-1362375', '/series/netherlands-in-zimbabwe-2022-23-1362375', '/series/indian-premier-league-2023-1345038', '/series/pakistan-super-league-2022-23-1332128', '/series/legends-league-cricket-masters-2022-23-1361357', '/series/icc-world-test-championship-2021-2023-1268315', '/series/icc-women-s-championship-2022-23-2025-1308225', '/series/world-cup-super-league-2020-2022-23-1227837', '/series/world-cup-league-2-2019-2021-22-1196667', 'https://www.espncricinfo.com/ci/content/match/fixtures_futures.html', 'https://www.espncricinfo.com/ci/engine/series/index.html', '/team', '/team/australia-2', '/team/afghanistan-40', '/team/bangladesh-25', '/team/ireland-29', '/team/england-1', '/team/namibia-28', '/team/india-6', '/team/nepal-33', '/team/new-zealand-5', '/team/netherlands-15', '/team/pakistan-7', '/team/oman-37', '/team/south-africa-3', '/team/papua-new-guinea-20', '/team/sri-lanka-8', '/team/scotland-30', '/team/west-indies-4', '/team/united-arab-emirates-27', '/team/zimbabwe-9', '/team/united-states-of-america-11', '/cricket-news', '/cricket-news', '/cricket-news/the-future-of-odis-39', '/cricket-news/ball-tampering-25', '/cricket-news/technology-in-cricket-18', '/cricket-news/racism-99', '/cricket-features', '/cricket-features', '/espncricinfo-writers-index', '/gallery', 'https://www.thecricketmonthly.com/', '/cricket-videos/', '/video', '/cricket-videos/genre/sneak-peek-270', '/cricket-videos/genre/the-big-ones-268', '/cricket-videos/genre/t20-time-out-221', '/cricket-videos/genre/t20-time-out-hindi-236', '/cricket-videos/genre/hindi-200', '/cricket-videos/genre/match-day-155', '/cricket-videos/genre/haan-ya-naa-247', '/cricket-videos/genre/politeenquiries-119', '/cricket-videos/genre/run-order-166', '/cricket-videos/genre/newsroom-218', '/cricket-videos/genre/25-questions-191', '/cricket-videos/genre/news-and-analysis-34', '/cricket-videos/genre/interviews-9', '/cricket-videos/genre/features-46', '/cricket-videos/genre/press-conference-2', 'http://www.youtube.com/ESPNCricinfo', 'https://www.espncricinfo.com/ci/engine/records/index.html', 'https://www.espncricinfo.com/ci/engine/records/index.html', '/ask', 'https://www.espncricinfo.com/ci/engine/stats/index.html', '/ci/content/story/genre.html?genre=706', 'https://www.espncricinfo.com/ci/engine/records/index.html?id=2023;type=year', 'https://www.espncricinfo.com/ci/engine/records/index.html?id=2022;type=year', 'https://www.espncricinfo.com/ci/engine/records/index.html', '/player', 'https://www.espncricinfo.com/ci/content/ground/index.html', 'https://www.espncricinfo.com/rankings/content/page/211271.html', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', 'https://www.espncricinfo.com/wisdenalmanack/content/story/almanack', 'https://www.espn.in', 'https://submit.espncricinfo.com/ci/content/submit/forms/feedback.html', 'https://www.espncricinfo.com/ci/content/page/866033.html', 'https://www.espncricinfo.com/ci/content/page/156066.html', 'https://www.espncricinfo.com/ci/content/page/156050.html', 'https://india.disneycareers.com/en/search-jobs/advanced-search', 'https://www.nielsen.com/us/en/legal/privacy-statement/digital-measurement', 'https://www.espncricinfo.com/', 'https://www.espncricinfo.com/live-cricket-score', 'https://www.espncricinfo.com/?tab=series', 'https://www.espncricinfo.com/video', 'https://www.espncricinfo.com/?tab=more', '/auction/content/site/ipl2022/', '/auction/content/site/ipl2022/', 'https://www.espncricinfo.com/story/ipl-2022-auction-the-list-of-sold-and-unsold-players-1300689', 'https://www.espncricinfo.com/live-blog/live-blog-ipl-2022-auction-1300707', 'https://www.espncricinfo.com/video/genre/ipl-2022-auction-248', '/ci/content/player/1083851.html', '/ci/content/player/1123073.html', '/ci/content/player/1155253.html', '/ci/content/player/1159711.html', '/ci/content/player/1176959.html', '/ci/content/player/1292513.html', '/ci/content/player/253802.html', '/ci/content/player/272477.html', '/ci/content/player/288284.html', '/ci/content/player/30045.html', '/ci/content/player/30288.html', '/ci/content/player/308251.html', '/ci/content/player/325026.html', '/ci/content/player/326017.html', '/ci/content/player/390481.html', '/ci/content/player/44828.html', '/ci/content/player/604616.html', '/ci/content/player/784379.html', '/ci/content/player/853265.html', '/ci/content/player/914541.html', '/ci/content/player/940973.html', '/ci/content/player/959759.html', '/ci/content/player/1079839.html', '/ci/content/player/1079848.html', '/ci/content/player/1081183.html', '/ci/content/player/1083464.html', '/ci/content/player/1108375.html', '/ci/content/player/1161489.html', '/ci/content/player/1254269.html', '/ci/content/player/1299848.html', '/ci/content/player/1299879.html', '/ci/content/player/230558.html', '/ci/content/player/232364.html', '/ci/content/player/237696.html', '/ci/content/player/249866.html', '/ci/content/player/25913.html', '/ci/content/player/276298.html', '/ci/content/player/277916.html', '/ci/content/player/297628.html', '/ci/content/player/376116.html', '/ci/content/player/477069.html', '/ci/content/player/489889.html', '/ci/content/player/604527.html', '/ci/content/player/623695.html', '/ci/content/player/642519.html', '/ci/content/player/723105.html', '/ci/content/player/851403.html', '/ci/content/player/1064812.html', '/ci/content/player/1125958.html', '/ci/content/player/1125976.html', '/ci/content/player/1161024.html', '/ci/content/player/1168641.html', '/ci/content/player/1209292.html', '/ci/content/player/1216149.html', '/ci/content/player/1292502.html', '/ci/content/player/211748.html', '/ci/content/player/28235.html', '/ci/content/player/290727.html', '/ci/content/player/297433.html', '/ci/content/player/342619.html', '/ci/content/player/398438.html', '/ci/content/player/403902.html', '/ci/content/player/438362.html', '/ci/content/player/527292.html', '/ci/content/player/550215.html', '/ci/content/player/699493.html', '/ci/content/player/719719.html', '/ci/content/player/721867.html', '/ci/content/player/820691.html', '/ci/content/player/826915.html', '/ci/content/player/956871.html', '/ci/content/player/967603.html', '/ci/content/player/1048813.html', '/ci/content/player/1048847.html', '/ci/content/player/1059577.html', '/ci/content/player/1060380.html', '/ci/content/player/1083030.html', '/ci/content/player/1125688.html', '/ci/content/player/1138316.html', '/ci/content/player/1159722.html', '/ci/content/player/1175429.html', '/ci/content/player/1252050.html', '/ci/content/player/1252337.html', '/ci/content/player/234675.html', '/ci/content/player/28081.html', '/ci/content/player/288992.html', '/ci/content/player/327830.html', '/ci/content/player/33141.html', '/ci/content/player/35582.html', '/ci/content/player/379140.html', '/ci/content/player/447261.html', '/ci/content/player/450860.html', '/ci/content/player/502714.html', '/ci/content/player/51439.html', '/ci/content/player/714451.html', '/ci/content/player/822553.html', '/ci/content/player/8917.html', '/ci/content/player/1070168.html', '/ci/content/player/1070188.html', '/ci/content/player/1131754.html', '/ci/content/player/1201520.html', '/ci/content/player/1292498.html', '/ci/content/player/1292520.html', '/ci/content/player/219889.html', '/ci/content/player/272450.html', '/ci/content/player/330902.html', '/ci/content/player/398506.html', '/ci/content/player/475281.html', '/ci/content/player/481979.html', '/ci/content/player/529436.html', '/ci/content/player/542023.html', '/ci/content/player/554691.html', '/ci/content/player/559235.html', '/ci/content/player/625964.html', '/ci/content/player/642525.html', '/ci/content/player/777515.html', '/ci/content/player/801019.html', '/ci/content/player/820351.html', '/ci/content/player/930189.html', '/ci/content/player/931581.html', '/ci/content/player/942645.html', '/ci/content/player/1079434.html', '/ci/content/player/1082859.html', '/ci/content/player/1119026.html', '/ci/content/player/1151278.html', '/ci/content/player/1159816.html', '/ci/content/player/1163695.html', '/ci/content/player/1175488.html', '/ci/content/player/1206495.html', '/ci/content/player/1287019.html', '/ci/content/player/261354.html', '/ci/content/player/26421.html', '/ci/content/player/277912.html', '/ci/content/player/308967.html', '/ci/content/player/337790.html', '/ci/content/player/355269.html', '/ci/content/player/381743.html', '/ci/content/player/398439.html', '/ci/content/player/425943.html', '/ci/content/player/430246.html', '/ci/content/player/670025.html', '/ci/content/player/700167.html', '/ci/content/player/777537.html', '/ci/content/player/906783.html', '/ci/content/player/917159.html', '/ci/content/player/1048841.html', '/ci/content/player/1070665.html', '/ci/content/player/1079470.html', '/ci/content/player/1081442.html', '/ci/content/player/1130300.html', '/ci/content/player/1148776.html', '/ci/content/player/1170265.html', '/ci/content/player/1175423.html', '/ci/content/player/1212693.html', '/ci/content/player/1244751.html', '/ci/content/player/230559.html', '/ci/content/player/34102.html', '/ci/content/player/390484.html', '/ci/content/player/446507.html', '/ci/content/player/459257.html', '/ci/content/player/528067.html', '/ci/content/player/625383.html', '/ci/content/player/669855.html', '/ci/content/player/670013.html', '/ci/content/player/720471.html', '/ci/content/player/732291.html', '/ci/content/player/826901.html', '/ci/content/player/851261.html', '/ci/content/player/892749.html', '/ci/content/player/961713.html', '/ci/content/player/1070180.html', '/ci/content/player/1070183.html', '/ci/content/player/1122918.html', '/ci/content/player/1175485.html', '/ci/content/player/1206492.html', '/ci/content/player/1246528.html', '/ci/content/player/277906.html', '/ci/content/player/326016.html', '/ci/content/player/344580.html', '/ci/content/player/377534.html', '/ci/content/player/398666.html', '/ci/content/player/446763.html', '/ci/content/player/474512.html', '/ci/content/player/527663.html', '/ci/content/player/600498.html', '/ci/content/player/604302.html', '/ci/content/player/677077.html', '/ci/content/player/696401.html', '/ci/content/player/719715.html', '/ci/content/player/732293.html', '/ci/content/player/802575.html', '/ci/content/player/823509.html', '/ci/content/player/974175.html', '/ci/content/player/1132005.html', '/ci/content/player/1151270.html', '/ci/content/player/1175441.html', '/ci/content/player/1246518.html', '/ci/content/player/1292563.html', '/ci/content/player/290630.html', '/ci/content/player/31872.html', '/ci/content/player/325012.html', '/ci/content/player/348056.html', '/ci/content/player/351588.html', '/ci/content/player/379143.html', '/ci/content/player/391485.html', '/ci/content/player/422108.html', '/ci/content/player/424377.html', '/ci/content/player/431901.html', '/ci/content/player/471342.html', '/ci/content/player/497121.html', '/ci/content/player/532856.html', '/ci/content/player/552152.html', '/ci/content/player/591650.html', '/ci/content/player/694211.html', '/ci/content/player/1048739.html', '/ci/content/player/1070173.html', '/ci/content/player/1111917.html', '/ci/content/player/1151288.html', '/ci/content/player/1159720.html', '/ci/content/player/1182529.html', '/ci/content/player/230193.html', '/ci/content/player/279545.html', '/ci/content/player/279810.html', '/ci/content/player/298438.html', '/ci/content/player/321777.html', '/ci/content/player/360911.html', '/ci/content/player/423838.html', '/ci/content/player/447587.html', '/ci/content/player/477021.html', '/ci/content/player/481896.html', '/ci/content/player/493773.html', '/ci/content/player/537124.html', '/ci/content/player/625371.html', '/ci/content/player/670031.html', '/ci/content/player/778963.html', '/ci/content/player/793463.html', '/ci/content/player/906749.html', '/ci/content/page/866033.html', '/ci/content/submit/forms/feedback.html', '/ci/content/rss/feeds_rss_cricket.html', '/ci/content/page/156066.html', '/ci/content/page/407211.html', 'https://disneyprivacycenter.com/', 'https://disneytermsofuse.com/', 'https://preferences-mgr.truste.com/?pid=disney01&aid=espnemea01&type=espnemea', 'https://disneyprivacycenter.com/notice-to-california-residents/', 'https://disneyprivacycenter.com/kids-privacy-policy/english/', 'https://www.nielsen.com/digitalprivacy']

In [65]:
link = links[links.index('/ci/content/player/1083851.html'): links.index('/ci/content/page/866033.html')]

In [66]:
len(link)

237

In [67]:
dff = pd.DataFrame(columns = columns)

In [68]:
dff

Empty DataFrame
Columns: [Player, Role, Mat, Inns, NO, Runs, HS, Ave, BF, SR, 100s, 50s, 4s, 6s, Ct, St, Mat, Inns, Balls, Runs, Wkts, BBI, BBM, Ave, Econ, SR, 4w, 5w, 10w]
Index: []

[0 rows x 29 columns]

In [69]:
root = 'https://www.espncricinfo.com'
for l in link:
    result = requests.get(f'{root}{l}')
    content = result.text
    soup = BeautifulSoup(content, 'lxml')
    
    head = soup.find_all(class_='ds-bg-fill-content-alternate ds-text-left ds-text-right')
    head_ls = []
    for i in head:
        head_ls.append(i.get_text(strip=True, separator=' '))

    Format = soup.find_all(class_="ds-min-w-max ds-text-right ds-capitalize ds-font-bold !ds-text-left ds-whitespace-nowrap")
    Mat = soup.find_all(class_="ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right ds-capitalize ds-text-right")
    Runs_wk = soup.find_all(class_="ds-w-0 ds-whitespace-nowrap ds-min-w-max ds-text-right ds-capitalize ds-text-right ds-font-bold")

    T_role = soup.find_all(class_ ="ds-text-tight-m ds-font-regular ds-uppercase ds-text-typo-mid3")
    T_role_ls = []
    for i in T_role:
        T_role_ls.append(i.get_text(strip=True, separator=' '))
        
    if ('Playing Role' in T_role_ls):
        id = T_role_ls.index('Playing Role')

        role_ = soup.find_all('h5')
        role_ls = []
        for i in role_:
            role_ls.append(i.get_text(strip=True, separator=' '))
        role = role_ls[id]
    else:
        role = '-'
            
    name = l[l.rfind('/') + 1:l.rfind('-')]
    
    Format_ls = []

    for i in Format: #getting the format names a player has played
        Format_ls.append(i.get_text(strip=True, separator=' '))

    if 'T20' in Format_ls: #making sure the player has played T20
        n = Format_ls.index('T20')
        Runs_wk_ls = []
        for i in Runs_wk:
            Runs_wk_ls.append(i.get_text(strip=True, separator=' '))
        #print(l)

        Mat_ls = []
        for i in Mat:
            Mat_ls.append(i.get_text(strip=True, separator=' '))

        if (head_ls[0].split()[3] == 'NO'): #Tells if batting is first or bowling #This means batting first
            k = 13*n
            Bowl_t20 = Mat_ls[-12:]
            Bat_t20 = Mat_ls[k:k+13]

            runs = Runs_wk_ls[n]
            wk = Runs_wk_ls[-1] 
        else: 
            k = 12*n #multiply by 12 since in bowling has one column less
            Bat_t20 = Mat_ls[-13:] 
            Bowl_t20 = Mat_ls[k:k+12]

            wk = Runs_wk_ls[n]
            runs = Runs_wk_ls[-1] 


        Ro = [name] + Bat_t20 + Bowl_t20 
        Ro.insert(1, role)
        Ro.insert(5, runs)
        Ro.insert(-8, wk)

        dff.loc[links.index(l)] = list(Ro)

    else:
        dff.loc[links.index(l)] = [name, role] + [0]*27

In [70]:
dff.head()

,Player,Role,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,Runs,Wkts,BBI,BBM,Ave,Econ,SR,4w,5w,10w
119,1083851.htm,Batting Allrounder,34,31,7,663,64,27.62,501,132.33,...,169,2,1/9,1/9,84.50,7.14,71.0,0,0,0
120,1123073.htm,Wicketkeeper Batter,41,35,5,664,88*,22.13,579,114.68,...,-,-,-,-,-,-,-,-,-,-
121,1155253.htm,Wicketkeeper Batter,15,9,0,124,38,13.77,97,127.83,...,-,-,-,-,-,-,-,-,-,-
122,1159711.htm,Allrounder,62,40,11,719,60*,24.79,561,128.16,...,1196,46,3/7,3/7,26.00,7.16,21.7,0,0,0
123,1176959.htm,Bowling Allrounder,32,9,4,43,13,8.60,37,116.21,...,817,38,4/35,4/35,21.50,7.18,17.9,1,0,0

In [71]:
dff['Role'].unique()

array(['Batting Allrounder', 'Wicketkeeper Batter', 'Allrounder',
       'Bowling Allrounder', 'Top order Batter', 'Bowler',
       'Middle order Batter', 'Opening Batter', 'Batter'], dtype=object)

Getting salaries and names of players

In [72]:
#Getting the price for each player.

from selenium import webdriver

url = 'https://www.espncricinfo.com/auction/content/site/ipl2022'

driver = webdriver.Chrome()
driver.get(url)
stages = driver.find_element_by_class_name('stage-scheduled')
driver.close()

AttributeError: 'WebDriver' object has no attribute 'find_element_by_class_name'

In [73]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [74]:
money = soup.find_all(class_="dolr")

In [75]:
salaries = list(money)

In [76]:
rem = salaries[0]
salaries.remove(rem)

In [77]:
def remove_items(test_list, item):
 
    # using list comprehension to perform the task
    res = [i for i in test_list if i != item]
 
    return res

In [78]:
res = remove_items(salaries, rem)
res

[<span class="dolr">30</span>,
 <span class="dolr">340</span>,
 <span class="dolr">20</span>,
 <span class="dolr">240</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">1500</span>,
 <span class="dolr">75</span>,
 <span class="dolr">775</span>,
 <span class="dolr">550</span>,
 <span class="dolr">50</span>,
 <span class="dolr">200</span>,
 <span class="dolr">1100</span>,
 <span class="dolr">75</span>,
 <span class="dolr">1075</span>,
 <span class="dolr">700</span>,
 <span class="dolr">25</span>,
 <span class="dolr">1075</span>,
 <span class="dolr">95</span>,
 <span class="dolr">100</span>,
 <span class="dolr">700</span>,
 <span class="dolr">80</span>,
 <span class="dolr">20</span>,
 <span class="dolr">725</span>,
 <span class="dolr">40</span>,
 <span class="dolr">20</span>,
 <span class="dolr">800</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">55</span>,
 <span class="dolr">600</span>,
 <span class="dolr">150</span>,
 <span class="dolr">60</span>,
 <span class="dolr">150</span>,
 <span class="dolr">100</span>,
 <span class="dolr">1200</span>,
 <span class="dolr">100</span>,
 <span class="dolr">200</span>,
 <span class="dolr">200</span>,
 <span class="dolr">20</span>,
 <span class="dolr">725</span>,
 <span class="dolr">800</span>,
 <span class="dolr">50</span>,
 <span class="dolr">1225</span>,
 <span class="dolr">55</span>,
 <span class="dolr">800</span>,
 <span class="dolr">525</span>,
 <span class="dolr">20</span>,
 <span class="dolr">400</span>,
 <span class="dolr">60</span>,
 <span class="dolr">380</span>,
 <span class="dolr">200</span>,
 <span class="dolr">20</span>,
 <span class="dolr">200</span>,
 <span class="dolr">40</span>,
 <span class="dolr">825</span>,
 <span class="dolr">55</span>,
 <span class="dolr">675</span>,
 <span class="dolr">50</span>,
 <span class="dolr">1200</span>,
 <span class="dolr">1150</span>,
 <span class="dolr">50</span>,
 <span class="dolr">20</span>,
 <span class="dolr">925</span>,
 <span class="dolr">20</span>,
 <span class="dolr">900</span>,
 <span class="dolr">20</span>,
 <span class="dolr">600</span>,
 <span class="dolr">75</span>,
 <span class="dolr">20</span>,
 <span class="dolr">25</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">600</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">70</span>,
 <span class="dolr">20</span>,
 <span class="dolr">150</span>,
 <span class="dolr">20</span>,
 <span class="dolr">120</span>,
 <span class="dolr">1600</span>,
 <span class="dolr">1200</span>,
 <span class="dolr">360</span>,
 <span class="dolr">50</span>,
 <span class="dolr">675</span>,
 <span class="dolr">200</span>,
 <span class="dolr">100</span>,
 <span class="dolr">1400</span>,
 <span class="dolr">190</span>,
 <span class="dolr">190</span>,
 <span class="dolr">440</span>,
 <span class="dolr">400</span>,
 <span class="dolr">20</span>,
 <span class="dolr">800</span>,
 <span class="dolr">750</span>,
 <span class="dolr">110</span>,
 <span class="dolr">420</span>,
 <span class="dolr">20</span>,
 <span class="dolr">50</span>,
 <span class="dolr">20</span>,
 <span class="dolr">625</span>,
 <span class="dolr">650</span>,
 <span class="dolr">200</span>,
 <span class="dolr">110</span>,
 <span class="dolr">1075</span>,
 <span class="dolr">650</span>,
 <span class="dolr">200</span>,
 <span class="dolr">50</span>,
 <span class="dolr">900</span>,
 <span class="dolr">200</span>,
 <span class="dolr">50</span>,
 <span class="dolr">20</span>,
 <span class="dolr">50</span>,
 <span class="dolr">20</span>,
 <span class="dolr">280</span>,
 <span class="dolr">65</span>,
 <span class="dolr">1600</span>,
 <span class="dolr">525</span>,
 <span class="dolr">380</span>,
 <span class="dolr">20</span>,
 <span class="dolr">775</span>,
 <span class="dolr">400</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">200</span>,
 <span class="dolr">500</span>,
 <span class="dolr">800</span>,
 <span class="dolr">1000</span>,
 <span class="dolr">100</span>,
 <span class="dolr">150</span>,
 <span class="dolr">75</span>,
 <span class="dolr">140</span>,
 <span class="dolr">1400</span>,
 <span class="dolr">650</span>,
 <span class="dolr">850</span>,
 <span class="dolr">260</span>,
 <span class="dolr">30</span>,
 <span class="dolr">75</span>,
 <span class="dolr">1000</span>,
 <span class="dolr">50</span>,
 <span class="dolr">300</span>,
 <span class="dolr">20</span>,
 <span class="dolr">65</span>,
 <span class="dolr">20</span>,
 <span class="dolr">30</span>,
 <span class="dolr">170</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">600</span>,
 <span class="dolr">1600</span>,
 <span class="dolr">130</span>,
 <span class="dolr">800</span>,
 <span class="dolr">150</span>,
 <span class="dolr">160</span>,
 <span class="dolr">1200</span>,
 <span class="dolr">800</span>,
 <span class="dolr">75</span>,
 <span class="dolr">1525</span>,
 <span class="dolr">30</span>,
 <span class="dolr">260</span>,
 <span class="dolr">20</span>,
 <span class="dolr">825</span>,
 <span class="dolr">100</span>,
 <span class="dolr">20</span>,
 <span class="dolr">650</span>,
 <span class="dolr">400</span>,
 <span class="dolr">400</span>,
 <span class="dolr">20</span>,
 <span class="dolr">400</span>,
 <span class="dolr">1400</span>,
 <span class="dolr">420</span>,
 <span class="dolr">75</span>,
 <span class="dolr">20</span>,
 <span class="dolr">240</span>,
 <span class="dolr">850</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">260</span>,
 <span class="dolr">1075</span>,
 <span class="dolr">775</span>,
 <span class="dolr">420</span>,
 <span class="dolr">875</span>,
 <span class="dolr">50</span>,
 <span class="dolr">400</span>,
 <span class="dolr">150</span>,
 <span class="dolr">50</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">400</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">460</span>,
 <span class="dolr">50</span>,
 <span class="dolr">920</span>,
 <span class="dolr">50</span>,
 <span class="dolr">750</span>,
 <span class="dolr">675</span>,
 <span class="dolr">875</span>,
 <span class="dolr">1700</span>,
 <span class="dolr">90</span>,
 <span class="dolr">200</span>,
 <span class="dolr">825</span>,
 <span class="dolr">575</span>,
 <span class="dolr">20</span>,
 <span class="dolr">200</span>,
 <span class="dolr">50</span>,
 <span class="dolr">1000</span>,
 <span class="dolr">300</span>,
 <span class="dolr">800</span>,
 <span class="dolr">20</span>,
 <span class="dolr">20</span>,
 <span class="dolr">320</span>,
 <span class="dolr">30</span>,
 <span class="dolr">240</span>,
 <span class="dolr">20</span>,
 <span class="dolr">190</span>,
 <span class="dolr">200</span>,
 <span class="dolr">300</span>,
 <span class="dolr">50</span>,
 <span class="dolr">900</span>,
 <span class="dolr">170</span>,
 <span class="dolr">140</span>,
 <span class="dolr">625</span>,
 <span class="dolr">1000</span>,
 <span class="dolr">50</span>,
 <span class="dolr">1500</span>,
 <span class="dolr">240</span>,
 <span class="dolr">260</span>,
 <span class="dolr">1500</span>,
 <span class="dolr">120</span>]

In [79]:
#getting the numbers
salaries = []
for i in res:
    salaries.append(str(i)[str(i).rfind('"')+2:str(i).rfind('<')])

In [80]:
dff['Salaries (lakh)']=salaries

In [81]:
dff.head()

,Player,Role,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,Wkts,BBI,BBM,Ave,Econ,SR,4w,5w,10w,Salaries (lakh)
119,1083851.htm,Batting Allrounder,34,31,7,663,64,27.62,501,132.33,...,2,1/9,1/9,84.50,7.14,71.0,0,0,0,30
120,1123073.htm,Wicketkeeper Batter,41,35,5,664,88*,22.13,579,114.68,...,-,-,-,-,-,-,-,-,-,340
121,1155253.htm,Wicketkeeper Batter,15,9,0,124,38,13.77,97,127.83,...,-,-,-,-,-,-,-,-,-,20
122,1159711.htm,Allrounder,62,40,11,719,60*,24.79,561,128.16,...,46,3/7,3/7,26.00,7.16,21.7,0,0,0,240
123,1176959.htm,Bowling Allrounder,32,9,4,43,13,8.60,37,116.21,...,38,4/35,4/35,21.50,7.18,17.9,1,0,0,20

In [82]:
#Getting names of players
names_ = soup.find_all('a')

text = []

for i in names_:
    text.append(i.text)

In [83]:
text

['\n\nESPN Cricinfo\n',
 'Live Scores',
 'Live Scores Home',
 'Schedule',
 'Results',
 'Month view',
 'Season view',
 'International calendar',
 'Desktop Scoreboard',
 'Series',
 'WPL 2023',
 'India v Australia',
 'South Africa v West Indies',
 'Bangladesh v England',
 'New Zealand v Sri Lanka',
 'Bangladesh v Ireland',
 'Pakistan v Afghanistan',
 'Zimbabwe v Netherlands',
 'Zimbabwe v Netherlands',
 'IPL 2023',
 'PSL 2023',
 'Legends League',
 'Test Championship',
 "Women's Championship",
 'CWC Super League',
 'CWC League 2',
 '-Future series-',
 '-Archives-',
 'Teams',
 'Australia',
 'Afghanistan',
 'Bangladesh',
 'Ireland',
 'England',
 'Namibia',
 'India',
 'Nepal',
 'New Zealand',
 'Netherlands',
 'Pakistan',
 'Oman',
 'South Africa',
 'PNG',
 'Sri Lanka',
 'Scotland',
 'West Indies',
 'UAE',
 'Zimbabwe',
 'USA',
 'News',
 'News Home',
 'Future of ODIs',
 'Ball-tampering',
 'Technology in cricket',
 'Racism',
 'Features',
 'Features Home',
 'Writers',
 'Photo galleries',
 'The Cricket Monthly',
 'Videos',
 'Videos Home',
 'Sneak Peek',
 'The Big Ones',
 'T20 Time Out',
 'T20 Time Out Hindi',
 'Hindi Videos',
 'Match Day',
 'Haan Ya Naa',
 'Polite Enquiries',
 'Run Order',
 'Newsroom',
 '25 Questions',
 'News and Analysis',
 'Interviews',
 'Features',
 'Press Conference',
 'YouTube',
 'Stats',
 'Stats home',
 'AskCricinfo',
 'Statsguru',
 'SuperStats',
 '2023 records',
 '2022 records',
 'All records',
 'Players',
 'Grounds',
 'Rankings',
 'Edition IN',
 'Africa',
 'Bangladesh',
 'New Zealand',
 'Sri Lanka',
 'United States',
 'Australia',
 'India',
 'Pakistan',
 'United Kingdom',
 'Global',
 '',
 '\n\nWisden Almanack\n',
 '\n\nESPN.in\n',
 'Feedback',
 'Sitemap',
 'About us',
 'Contact us',
 'Careers',
 'About Nielsen Measurement',
 '\nHome\n',
 '\nMatches\n',
 '\nSeries\n',
 '\nVideo\n',
 '\nMore\n',
 '',
 'SQUADS',
 'UNSOLD PLAYERS',
 'Live Updates',
 'Videos',
 'Suyash Prabhudessai',
 'Anuj Rawat',
 'Luvnith Sisodia',
 'Shahbaz Ahmed',
 'Akash Deep',
 'Aneeshwar Gautam',
 'Virat Kohli',
 'Jason Behrendorff',
 'Josh Hazlewood',
 'Dinesh Karthik',
 'Karn Sharma',
 'David Willey',
 'Glenn Maxwell',
 'Siddarth Kaul',
 'Harshal Patel',
 'Faf du Plessis',
 'Chama Milind',
 'Wanindu Hasaranga',
 'Mahipal Lomror',
 'Sherfane Rutherford',
 'Mohammed Siraj',
 'Finn Allen',
 'Anukul Roy',
 'Shivam Mavi',
 'Abhijeet Tomar',
 'Pratham Singh',
 'Varun Chakravarthy',
 'Rasikh Salam',
 'Aman Khan',
 'Ramesh Kumar',
 'Ashok Sharma',
 'Sunil Narine',
 'Tim Southee',
 'Sheldon Jackson',
 'Alex Hales',
 'Mohammad Nabi',
 'Andre Russell',
 'Ajinkya Rahane',
 'Sam Billings',
 'Umesh Yadav',
 'Baba Indrajith',
 'Pat Cummins',
 'Nitish Rana',
 'Chamika Karunaratne',
 'Shreyas Iyer',
 'Rinku Singh',
 'Venkatesh Iyer',
 'Rahul Chahar',
 'Atharva Taide',
 'Arshdeep Singh',
 'Prabhsimran Singh',
 'Harpreet Brar',
 'Vaibhav Arora',
 'Ansh Patel',
 'Raj Angad Bawa',
 'Benny Howell',
 'Shikhar Dhawan',
 'Rishi Dhawan',
 'Jonny Bairstow',
 'Bhanuka Rajapaksa',
 'Mayank Agarwal',
 'Liam Livingstone',
 'Sandeep Sharma',
 'Baltej Singh',
 'Kagiso Rabada',
 'Writtick Chatterjee',
 'Shahrukh Khan',
 'Jitesh Sharma',
 'Odean Smith',
 'Nathan Ellis',
 'Prerak Mankad',
 'Ishan Porel',
 'N Jagadeesan',
 'Hari Nishaanth',
 'Subhranshu Senapati',
 'Ruturaj Gaikwad',
 'KM Asif',
 'Mukesh Choudhary',
 'Maheesh Theekshana',
 'Simarjeet Singh',
 'Rajvardhan Hangargekar',
 'Bhagath Varma',
 'Prashant Solanki',
 'Ravindra Jadeja',
 'MS Dhoni',
 'Chris Jordan',
 'Dwaine Pretorius',
 'Ambati Rayudu',
 'Robin Uthappa',
 'Devon Conway',
 'Deepak Chahar',
 'Adam Milne',
 'Mitchell Santner',
 'Dwayne Bravo',
 'Shivam Dube',
 'Tushar Deshpande',
 'Moeen Ali',
 'Prithvi Shaw',
 'Kamlesh Nagarkoti',
 'Chetan Sakariya',
 'Ripal Patel',
 'Yash Dhull',
 'Vicky Ostwal',
 'David Warner',
 'Mitchell Marsh',
 'Mustafizur Rahman',
 'Mandeep Singh',
 'Shardul Thakur',
 'Anrich Nortje',
 'KS Bharat',
 'Lungi Ngidi',
 'Axar Patel',
 'Kuldeep Yadav',
 'Tim Seifert',
 'Sarfaraz Khan',
 'Praveen Dubey',
 'Ashwin Hebbar',
 'Rovman Powell',
 'Lalit Yadav',
 'Rishabh Pant',
 'Khaleel Ahmed',
 'Riyan Parag',
 'Tejas Baroka',
 'Devdutt Padikkal',
 'Yashasvi Jaiswal',
 'Anunay Singh',
 'Kuldeep Sen',
 'Dhruv Jurel',
 'Kuldip Yadav',
 'Shubham Garhwal',
 'Nathan Coulter-Nile',
 'R Ashwin',
 'Trent Boult',
 'Jos Buttler',
 'Rassie van der Dussen',
 'James Neesham',
 'Daryl Mitchell',
 'Karun Nair',
 'Sanju Samson',
 'Yuzvendra Chahal',
 'Shimron Hetmyer',
 'Navdeep Saini',
 'KC Cariappa',
 'Obed McCoy',
 'Prasidh Krishna',
 'Sanjay Yadav',
 'Dewald Brevis',
 'Ramandeep Singh',
 'Mayank Markande',
 'Aryan Juyal',
 'Arjun Tendulkar',
 'Tilak Varma',
 'Hrithik Shokeen',
 'Rahul Buddhi',
 'Arshad Khan',
 'Kieron Pollard',
 'Rohit Sharma',
 'Jaydev Unadkat',
 'Suryakumar Yadav',
 'Tymal Mills',
 'M Ashwin',
 'Jasprit Bumrah',
 'Jofra Archer',
 'Fabian Allen',
 'Ishan Kishan',
 'Basil Thampi',
 'Daniel Sams',
 'Anmolpreet Singh',
 'Tim David',
 'Riley Meredith',
 'Priyam Garg',
 'Abhishek Sharma',
 'Kartik Tyagi',
 'Abdul Samad',
 'Saurabh Dubey',
 'Umran Malik',
 'Kane Williamson',
 'Bhuvneshwar Kumar',
 'Shreyas Gopal',
 'Shashank Singh',
 'Sean Abbott',
 'Rahul Tripathi',
 'R Samarth',
 'J Suchith',
 'Aiden Markram',
 'Nicholas Pooran',
 'Romario Shepherd',
 'Marco Jansen',
 'Washington Sundar',
 'Vishnu Vinod',
 'T Natarajan',
 'Glenn Phillips',
 'Fazalhaq Farooqi',
 'Mohsin Khan',
 'Ayush Badoni',
 'Ravi Bishnoi',
 'Karan Sharma',
 'Mayank Yadav',
 'Manish Pandey',
 'Shahbaz Nadeem',
 'Marcus Stoinis',
 'Kyle Mayers',
 'Mark Wood',
 'Quinton de Kock',
 'Jason Holder',
 'KL Rahul',
 'K Gowtham',
 'Evin Lewis',
 'Krunal Pandya',
 'Deepak Hooda',
 'Manan Vohra',
 'Dushmantha Chameera',
 'Ankit Rajpoot',
 'Avesh Khan',
 'R Sai Kishore',
 'Shubman Gill',
 'Darshan Nalkande',
 'Sai Sudharsan',
 'Yash Dayal',
 'Noor Ahmad',
 'Matthew Wade',
 'Pradeep Sangwan',
 'Wriddhiman Saha',
 'Jason Roy',
 'David Miller',
 'Varun Aaron',
 'Rahul Tewatia',
 'Jayant Yadav',
 'Vijay Shankar',
 'Mohammed Shami',
 'Lockie Ferguson',
 'Gurkeerat Singh Mann',
 'Hardik Pandya',
 'Alzarri Joseph',
 'Abhinav Manohar',
 'Rashid Khan',
 'Dominic Drakes',
 'Sitemap',
 'Feedback',
 'RSS',
 'About Us',
 'Advertise',
 'Privacy Policy',
 'Terms of Use',
 'Interest Based Ads',
 'Your California Privacy Rights',
 'Children’s Online Privacy Policy',
 'About Nielsen Measurement']

In [84]:
F = 'Suyash Prabhudessai'
L = 'Dominic Drakes'

names = text[text.index(F):text.index(L)+1]

In [85]:
dff['Names'] = names

In [86]:
dff.head()

,Player,Role,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,BBI,BBM,Ave,Econ,SR,4w,5w,10w,Salaries (lakh),Names
119,1083851.htm,Batting Allrounder,34,31,7,663,64,27.62,501,132.33,...,1/9,1/9,84.50,7.14,71.0,0,0,0,30,Suyash Prabhudessai
120,1123073.htm,Wicketkeeper Batter,41,35,5,664,88*,22.13,579,114.68,...,-,-,-,-,-,-,-,-,340,Anuj Rawat
121,1155253.htm,Wicketkeeper Batter,15,9,0,124,38,13.77,97,127.83,...,-,-,-,-,-,-,-,-,20,Luvnith Sisodia
122,1159711.htm,Allrounder,62,40,11,719,60*,24.79,561,128.16,...,3/7,3/7,26.00,7.16,21.7,0,0,0,240,Shahbaz Ahmed
123,1176959.htm,Bowling Allrounder,32,9,4,43,13,8.60,37,116.21,...,4/35,4/35,21.50,7.18,17.9,1,0,0,20,Akash Deep

In [88]:
df[df['Wkts'] == 0]

,Player,Role,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,BBI,BBM,Ave,Econ,SR,4w,5w,10w,Names,BasePrice
0,aman-khan,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Aman Khan,20 lakh
18,ramesh-kumar,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Ramesh Kumar,20 lakh
51,ashok-sharma,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Ashok Sharma,20 lakh
53,arshad-khan,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Mohammad Arshad Khan,20 lakh
54,saurabh-dubey,Bowler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Saurabh Dubey,20 lakh
66,aneeshwar-gautam,Bowling Allrounder,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Aneeshwar Gautam,20 lakh
208,rohan-rana,Allrounder,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Rohan Rana,20 lakh
229,sushant-mishra,-,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Sushant Mishra,20 lakh
263,vasu-vats,-,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Vasu Vats,20 lakh

In [87]:
df[df['Names'] == 'Matthew Wade']

,Player,Role,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,BBI,BBM,Ave,Econ,SR,4w,5w,10w,Names,BasePrice
46,matthew-wade,Wicketkeeper Batter,231,203,33,4559,130*,26.81,3360,135.68,...,-,-,-,-,-,-,-,-,Matthew Wade,2 crore

In [89]:
dff.to_csv('NameRetained.csv')

Thus, we scraped data from two websites one containing unsold and sold players, other containing retained and sold players and gathered all of their current T20 stats.